
.container {
    background: linear-gradient(330deg, rgba(1, 41, 25, 0.1) 0%, rgb(2, 58, 35) 100%);
    height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.logo-container {
    margin-top: 5vh;

font-size: 128px;
}

.logo-container p{
    margin: 0;
}

.logo-container img {
    width: 24vw;
}

.categories-block{
    color: #fff;

 font-size: 64px;
 margin-bottom: 2vh;
}

.categories-block p{
    margin: 4vh 0vw;
}


.links-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
margin-top: 2vh;
}

.links-block a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    width: 7vw;
    text-decoration: none;
    margin-bottom: 2vh;
    margin-left: 2vw;
    color: #fff;
    border-radius: 20px;
    padding: 15px 25px;
    border: 1px solid #afafaf;
    transition: all 350ms;
}
.links-block a:hover{
    border-color: rgb(16, 160, 3);
    box-shadow:  0px 3px 10px 2px rgba(16, 160, 3, 0.8);

}

.pulse {
 
    animation: drop 2s ease-in-out, pulse 3s infinite;
  }

  @keyframes pulse {
    0% {
 
        filter: drop-shadow(0px 0px 10px rgba(3, 153, 41,0));
    }
    50% {
     
        filter: drop-shadow(0px 0px 10px rgba(3, 153, 41,1));
    }
    100% {

        filter: drop-shadow(0px 0px 10px rgba(3, 153, 41,0));
    }
  }


  @keyframes drop {

    0% {
        transform:translateY(-90%);
        width: 5vw;
       
       
    }

 
    100% {
        transform: translateY(0%);
        width: 24vw;
        
    }
    
  }



@media (min-width: 250px) and (max-width: 550px) {
    .logo-container {
        font-size: 60px;
    }
    .categories-block {
        font-size: 28px;
    }
    .links-block a{
        font-size: 14px;
        width: 5vw;
        padding: 10px 25px;

    }
    .logo-container img {
        width: 50vw;
    }
}