
.container {
    background: linear-gradient(330deg, rgba(4, 1, 41, 0.1) 0%, rgb(5, 45, 68) 100%),url('../../img/kors/maskot_Kors_Naike_2.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.logoContainer {
    margin-top: 50vh;

font-size: 128px;
}

.logoContainer  p{
    color: #ffffff;
    margin: 0;
}

.logoContainer  img {
    width: 26vw;
}

.categoriesBlock{

    color: #fff;

 font-size: 64px;
 margin-bottom: 2vh;
}

.categoriesBlock p{
    margin: 4vh 0vw;
}


.linksBlock{
    display: flex;
    justify-content: center;
margin-top: 2vh;
}

.linksBlock a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    width: 7vw;
    text-decoration: none;
    margin-left: 2vw;
    color: #fff;
    border-radius: 20px;
    padding: 15px 25px;
    border: 1px solid #afafaf;
    transition: all 350ms;
}
.linksBlock a:hover{
    border-color: rgb(7, 91, 143);
    box-shadow:  0px 3px 10px 2px rgba(7, 91, 143, 0.8);

}

.pulse {
    animation: pulse 7s infinite;
  }

  @keyframes pulse {
    0% {
 
        filter: drop-shadow(0px 0px 10px rgba(4, 1, 41, 0));
    }
    50% {
     
        filter: drop-shadow(0px 0px 10px rgb(22, 6, 114));
    }
    100% {

        filter: drop-shadow(0px 0px 10px rgba(4, 1, 41, 0));
    }
  }


  @media (min-width: 250px) and (max-width: 550px) {
    .logoContainer {
        font-size: 60px;
    }
    .categoriesBlock {
        font-size: 28px;
    }
    .linksBlock a{
        font-size: 14px;
        width: 5vw;
        padding: 10px 25px;

    }
}




