.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerContent {
  width: 60vw;
  display: flex;
  justify-content: space-between;
}

.release {
    cursor: pointer;
    position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  width: 10vw;
  transition: all 350ms;


}

.release:hover{
  transform: scale(1.5);
}


.release img  {
    
  width: 10vw;
  border-radius: 50%;
}

.back {
    transition: all 350ms;
    position: absolute;
    opacity: 0;
}

.release:hover .back{
    opacity: 0.1;
    transform: scale(2)
}

.release:hover .text{
    opacity: 1;
animation: textAnim 2s 1;  
color: rgb(92, 195, 255);
}


.text {
    margin-bottom: 0;
    opacity: 0;

}


@keyframes textAnim{
    0%{
     
      margin-bottom: -20px;
      transform: scale(0.3);
      color: rgb(45, 141, 170);
    }
    30%{
    
      margin-bottom:-60px;
      transform: scale(0.7);
      

    }
    100%{
        color: rgb(92, 195, 255);
        margin-bottom: 0px;
        transform: scale(1);
    }
  }



.linksBlock {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.linksBlock a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  width: 7vw;
  text-decoration: none;
  margin-left: 2vw;
  color: #fff;
  border-radius: 20px;
  padding: 15px 25px;
  border: 1px solid #afafaf;
  transition: all 350ms;
}
.linksBlock a:hover {
  border-color: rgb(7, 91, 143);
  box-shadow: 0px 3px 10px 2px rgba(7, 91, 143, 0.8);
}


@media  (max-width: 550px) {
    .linksBlock a{
        font-size: 14px;
        width: 5vw;
        padding: 10px 25px;
    }
    .containerContent {
        width: 80vw;
    
      }
      .release {
        font-size: 16px;
      }
      .release img {
        width: 20vw;
      }
}