main {
    min-height: 100vh;
  }
  
  

  
  .main-header {
    align-items: center;
display: flex;
gap: 20px;
padding: 0px 5px;
     
  }
  
  
  .burger-style {
      width: 5vh;
      cursor: pointer;
  }

.burgerKors {
    width: 5vh;
    height: 3.5vh;
    cursor: pointer;
    filter: invert(12%) sepia(100%) saturate(5100%) hue-rotate(190deg) brightness(86%) contrast(88%);
}

.burgerTea {
    width: 5vh;
    height: 3.5vh;
    cursor: pointer;
    filter: invert(12%) sepia(100%) saturate(5432%) hue-rotate(353deg) brightness(86%) contrast(88%);
}
  
  .main-footer {
    margin-left:25px;
    margin-bottom:25px ;
    display: flex;
    font-size: 20pt;
  }
  .main-footer a{
    margin-top: 5px;
    margin-left: 10px;
    color: #00984f;
    text-decoration: none;
  }
  .main-footer img {
    
      cursor: pointer;
  }
 
  .avatar {
      margin-right: 5vh;
      font-size: 3vh;
      width: 5vh;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

    }
    
    .avatar::after {
      content: attr(data-label);
      font-family: "bionbook_cond";
      color: #ffffff;
    }
   

.logoHeader img{
    max-width: 10vh;
    cursor: pointer;
  
  }

  .main-header img:hover {
    opacity: 0.6;
    transition: opacity 350ms;
  }
  .main-header img {
    opacity: 1;
    transition: opacity 350ms;
  }

.logouts{

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    margin-left:auto ;
    font-size: 20px;
    font-weight: 600;
}


.logouts a{
    color: #00984f;
    cursor: pointer;
    transition: all 350ms;
    margin: 0;
}

.logouts p:hover{
    opacity: 0.6;
}

  @media (min-width: 250px) and (max-width: 500px) {

    .logouts{
        gap:10px;
        font-size: 14px;
        
    }
    .logoHeader img{
        max-width: 7vh;
      
      }
      
  }


