
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.block img {
    margin-top: -10vh;
   max-width: 50vh;
}

.block h1 {
    margin: 0;
    font-weight: 300;
font-size: 96px;
line-height: 120px;
}
 
.block h2 {
    margin-top: 0;
    font-weight: 300;
font-size: 48px;
line-height: 60px;
}

.block h3 {
    margin-top: 5.5vh;
    margin-bottom: 7vh;
    font-weight: 300;
font-size: 30px;
line-height: 38px;
}

.containerIntro {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 250px) and (max-width: 800px){
    .parent img{
        max-width: 40vw;
    }

    .parent h1{
        font-size: 64px;
    }
    .parent h2{
        font-size: 38px;
    }
    .parent h3{
        font-size:20px;
    }
}

