
*{
    animation: showAll 500ms ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
  position: relative;
  background: url("../img/blkmarket-scratch-pack\ \(38\)\ копия.png"), #202020;
  mix-blend-mode: lighten;
  font-family: "bionbook_cond";
  color: #00984f;

  
}

.allAnimate{
    position: absolute;
    
}

.allAnimate-enter-active {
    animation: showAll 350ms ease-in-out;
}

.allAnimate-exit-active {
    animation: hideAll 350ms ease-in-out;
}

@keyframes showAll{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes hideAll {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}


::-webkit-scrollbar{
     background: none;
     width: 0.8em;
}
::-webkit-scrollbar-track {
    margin-block: 1vh;
    border: 1px solid hsl(151, 94%, 15%);
    border-radius: 100vw;
    
 }

 ::-webkit-scrollbar-thumb {
    background-color: hsl(151, 94%, 20%);
    border-radius: 100vw;
    
 }
 ::-webkit-scrollbar-thumb:hover {
  
    background-color: hsl(151, 95%, 15%);
    border: .25em solid hsl(151, 94%, 15%);
    border-radius: 100vw;
  
 }

 .notFound {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }


 @media (min-width: 250px) and (max-width: 850px) {
    ::-webkit-scrollbar{
        width: 0.5em;
    }
 }


 




