
.inactivePh {
    display: none;
  
}

.phModal.activePh{
    pointer-events: all;
    display:flex;
  opacity: 1;

  animation: fadeInFromNone 350ms ease-in-out;
  animation-fill-mode: forwards;

}

.inactivePh.non-visible{
    animation: fadeOutFromBlock 350ms ease-in-out;
}

@keyframes fadeInFromNone {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOutFromBlock {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }

.phModal {
    overflow-y: auto;
    display: flex;
    align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.5s;

  z-index: 10;
}


.phMdContent {
position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100vw;
  opacity: 0;
  transition: opacity 0.5s;
 
}
.phMdContent.activePh {
  opacity: 1;
}

.modal-album{
    display: flex;
    flex-direction: column;
  height: 60vh;
      font-size: 36px;
  text-align: center;
}
.modal-album img{ 
     border: #00984f solid 2px;
    box-shadow:  0px 0px 10px 2px rgba(16, 160, 3, 0.8);
 object-fit: cover;
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.close {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
  
    transition: opacity 350ms;
  }



.apple-kit {
    margin: 0px 20px;
  width: 100%;
  max-width: 660px;
  overflow: hidden;
  border-radius: 10px;
  transform: translateZ(0px);
  animation: 2s ease 0s 6 normal none running loading-indicator;
  background-color: rgb(228, 228, 228);
}


@media (min-width: 250px) and (max-width: 750px) {

        .modal-album{
            height: 40vh;
            width: 80vw;
            margin-bottom:50px;
            margin-top: 50px;
        }
    .phMdContent {
        flex-wrap: wrap;
    }

    .close {
        opacity: 1;
    }
    .apple-kit {
        width: 70%;
        
    }
}